<!--
  Generated template for the QuizResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <ion-title>Result</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<h1>Score {{score}}</h1>

	<div *ngFor="let att of myAtt">
		<div item-right> {{att.qid}} :
			<span *ngIf="att.type=='text'">
			    <strong>Correct Answer :-</strong><br> {{att.correct}}
				<br>
				<strong>Your Response :-</strong><br> {{att.response}}
				<br>
				<button ion-button *ngIf="att.score===0"  (click)="iamCorrect(att.qid)" round small>
					I am correct
				</button>
			</span>
			<span *ngIf="att.type=='radio'">
				<span *ngIf="att.correct==att.response">Correct</span>
				<span *ngIf="att.correct!=att.response">Wrong</span>
			</span>
		</div>
		<hr>
	</div>
	
</ion-content>

<ion-footer >
	<ion-toolbar color="primary" text-center>
		   <div text-center>
		    <button ion-button color="light" icon-end (click)="backToQuiz()">
	      		View Progress
	    	</button>
	  	</div>
	</ion-toolbar>
</ion-footer>
