<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <ion-title>My Quiz</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content has-header="false"  padding="true" hide-nav-bar="true">
     <div id="quizArea" > 
      <!-- QUESTION -->
      <div class="jumbotron">
        <div class="container">
          <h3 id="qNoLbl">Question: {{currentPosition}}/{{quiz[0].questions.length}}</h3>
          <div [innerHtml]="currentQuestion.question"></div>
        </div>
      </div>
    </div>
      <div class="container" *ngIf="currentQuestion.type=='radio'">
          <label *ngFor="let option of currentQuestion.options">
            <table><tr>
                <td width="20px" valign="top">
                  {{i}}
                  <input type="radio" [checked]="currentResponse==option[0]" name="group" value="{{option[0]}}" (click)="onSelectionChange(option[0])" >&nbsp;
                </td>
                <td>{{option[1]}}</td>
            </tr></table>
         </label>
      </div>
      <div class="container" *ngIf="currentQuestion.type=='text'">
        <textarea rows=5 style="border:1px dotted black;width:100%" [(ngModel)]="currentResponse"></textarea>
      </div>
  </ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col col-4 text-left>
          <button ion-button icon-left arrow-drop-left start color="light" (click)="gotoPrev()">
            <ion-icon name="arrow-dropleft"></ion-icon>
            Prev
          </button>
        </ion-col>
        <ion-col col-4 text-center>
          <button ion-button center color="light" (click)="gotoReview()">
            Review
          </button>
        </ion-col>
        <ion-col col-4 text-right>

          <button ion-button icon-right color="light" (click)="gotoNext()">
            Next  
            <ion-icon name="arrow-dropright"></ion-icon>         
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>