<!--
  Generated template for the QuizDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Quiz Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div [innerHTML] = "quizInstruction"></div>
	<hr>
		
   

</ion-content>

<ion-footer >
	<ion-toolbar color="primary" text-center>
		   <div text-center>
		    <button ion-button color="light" icon-end (click)="goToQuizMain()">
		      Start Quiz
		     </button>
	  	</div>
	</ion-toolbar>
</ion-footer>