<ion-tabs selectedIndex= {{index}} color="primary">
  <ion-tab [root]="tab1Root" color="secondary" tabTitle="My Quiz" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" color="secondary" tabTitle="Progress" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" color="secondary" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
