<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Enroll</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="credentialsForm">

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [formControl]="credentialsForm.controls['email']"
        type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input [formControl]="credentialsForm.controls['name']"
        type="text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Exam Code</ion-label>
    <ion-input [formControl]="credentialsForm.controls['password']"
        type="password"></ion-input>
  </ion-item>      
</form>

</ion-content>

<ion-footer>
  <ion-item text-center color="primary">
      <button ion-button color="secondary" (click)="onSignIn()">
        Enroll
      </button>
    </ion-item>
</ion-footer>
