<!--
  Generated template for the QuizIndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <ion-title>My Quiz</ion-title>
  </ion-navbar>
</ion-header>


<!-- 
  This template gets placed in the Pet tab's <nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->

<ion-content has-header="true" class="has-footer">
	<ion-list [virtualScroll]="quizes">
      <button *virtualItem="let quiz; let i = index"ion-item (click)="goToQuiz(i)" detail-push>
        {{ quiz.title }}
      </button>
	</ion-list>
</ion-content>

