<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<iframe width="100%" height="100%" style="border:0px;padding:0px;margin:0px" src="http://www.eddytools.com/demo/ionic-app/">
</iframe>
</ion-content>
