<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <ion-title>
      Progress
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
      <ion-card-header>
        Progress Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <button ion-button small block clear ion-button color="secondary" icon-end (click)="clearProgress()">
      Clear Progress
    </button>
  

</ion-content>


