<!--
  Generated template for the QuizReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <ion-title>Quiz Review</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list [virtualScroll]="review">
	  <ion-item *virtualItem="let att;let i = index">
	    <p (click)="goToQuestion(i)">{{att.qid}} : {{att.status}}</p>
	  </ion-item>
	</ion-list>
</ion-content>


<ion-footer >
  <ion-toolbar color="primary" text-center>
       <div text-center>
        <button ion-button color="light" icon-end (click)="finishQuiz()">
      Finish Quiz
    </button>
      </div>
  </ion-toolbar>
</ion-footer>
    
